
@{
    ViewBag.Title = "NaoAutenticado";
}

<h2>NaoAutenticado</h2>

<div class="content">
    <h3>Usuário não Autenticado</h3>
    <div class="alert alert-danger alert-dismissable" style="margin-bottom: 0px; font-size: 1.1em; padding: 20px;">
        <span class="alert-link">
            Nenhum usuário autenticado, por favor realizar o login. <b>@Html.RouteLink("Login", "Login")</b>
        </span>
    </div>
</div>

